<footer class="bg-black text-white flex-grow flex items-center" style="height: 15vh;">
    <div class="container mx-auto flex justify-between" style="max-width: 1300px;">
        <div class="flex-1">
            <div class="footer-left-container">
                <p class="text-xs md:text-base" style="margin-top: 2.5vh;"> No copyright</p>
            </div>
        </div>
        <div class="flex-1">
            <div class="footer-right-container">
                <p class="text-xs md:text-base"> _______________________</p>
                <p class="text-xs md:text-base">tripleS unofficial store</p>
            </div>
        </div>
        <div class="footer-display-mode-button py-3">
            <a href="https://www.triplescosmos.com/" target="_blank">
                <button class="bg-white text-black font-bold py-2 px-4 rounded text-xs md:text-base">
                    TripleS Official Site
                </button>
            </a>
        </div>
    </div>
</footer>
