<div class="container mx-auto py-8" style="max-width: 1300px; min-height: 75vh;" *ngIf="product">
    <div class="flex">
        <!-- Image du produit -->
        <div class="w-1/3">
            <div class="flex items-center">
                <img [src]="getProductImageUrl()" [alt]="product.album_name" class="w-full" style="max-width: 400px;">
            </div>
        </div>
        <!-- Détails du produit -->
        <div class="w-2/3 px-8 flex flex-col justify-between">
            <div>
                <h1 class="text-5xl font-bold mt-4 mb-4">{{product.album_name}}</h1>
                <p class="mt-8">{{product.description}}</p>
                <p class="mt-16">Price: {{product.price}}</p>
                <p class="my-2">Type: {{product.album_type}}</p>
                <p class="my-2">Release date : {{product.release_date}}</p>
            </div>
            <!-- Bouton Ajouter au panier -->
            <button class="bg-black hover:bg-gray-900 text-white font-bold py-3 px-4 rounded focus:outline-none focus:shadow-outline self-end" (click)="addToCart(product)" (click)="showSuccessPopup=true">
                Add to cart
            </button>
        </div>
    </div>
    <h1 class="text-3xl font-bold mt-32"> What's inside </h1>
    <div class="my-8 flex justify-center">
        <img [src]="getProductDetailsImageUrl()" alt="inside of the product" class="w-full" style="max-width: 800px;">
    </div>

    <h1 class="text-3xl font-bold mt-32"> Similar products </h1>
    <div class="Similar-product grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4">
        <ng-container *ngFor="let item of products | async">
            <div *ngIf="product && (item.id == product.id -1 || item.id == product.id - 2 || item.id == product.id + 1 || item.id == product.id + 2)">
                <div class="Similar-product bg-white p-4 shadow-md rounded-lg mx-auto">
                    <img [src]="'assets/images/products/' + item.id + '.jpg'" alt="product picture" class="w-full h-auto mb-2 mx-auto transform transition-transform hover:scale-105 cursor-pointer" (click)="redirectToProduct(item.id.toString())">
                    <p class="font-semibold text-center">{{item.album_name}}</p>
                    <p class="font-bold text-center">{{item.price}}€</p>
                </div>
            </div>
        </ng-container>
    </div> 

    <!-- Popup de succès d'ajout au panier -->
    <div *ngIf="showSuccessPopup" class="fixed inset-0 z-50 flex items-center justify-center bg-gray-800 bg-opacity-75">
        <div class="w-full max-w-lg p-6 bg-white rounded-lg shadow-lg">
            <div class="text-center">
                <h2 class="text-3xl font-bold mb-8">Product added to cart !</h2>
                <p class="text-gray-700 mb-4">The product has been successfully added to your cart.</p>
                <div class="flex justify-between mt-8">
                    <button (click)="showSuccessPopup=false" class="bg-gray-200 text-black px-4 py-2 rounded-lg focus:outline-none">Continue Shopping</button>
                    <button (click)="redirectToCart()" class="bg-black text-white px-4 py-2 rounded-lg focus:outline-none">Go to Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>